body {
  background: url(../img/ps_neutral.png) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  color: white;
  position: relative;
}

html, body, #map {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.jumbotron {
  background: url(../img/desk.jpg) no-repeat center fixed;
}
