body {
  background: url(../img/ps_neutral.png) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  color: white;
  position: relative;
}

html,
body,
.about {
  height: 100%;
}
.about h3 {
  text-align: center;
  font-family: 'Karma', serif;
  font-weight: 400;
  font-size: 45px;
  color: black;
}

.about h4 {
  text-align: center;
  font-family: 'Karma', serif;
  font-weight: 400;
  font-size: 15px;
  color: black;
}

.about img {
  width: 200px;
}

.jumbotron {
  height: 100%;
  background-color: black;
  background: url(../img/desk.jpg) center;
  background-size: cover;
}

img {
  width: 100%;
}

.intro {
  margin-top: 200px;
}

.intro h1 {
  text-align: center;
  font-family: 'Karma', serif;
  font-size: 100px;
  text-transform: uppercase;
  margin-top: -10px;
}

.intro h2 {
  text-align: center;
  font-family: 'Karma', serif;
  font-weight: 400;
  font-size: 50px;
  margin-top: 50px;
}

.intro h3 {
  text-align: center;
  font-family: 'Karma', serif;
  font-weight: 400;
  font-size: 25px;
  margin-top: -20px;
}

.navbar-inverse {
  background: none;
  border: none;
  width: 1100px;
  margin-top: 15px;
}

.navbar-inverse .navbar-nav>.active>a {
  color: white;
  background-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a:hover {
  background-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a:focus {
  background-color: transparent;
}


.services h3 {
  text-align: center;
  font-family: 'Karma', serif;
  font-weight: 400;
  font-size: 45px;
  color: black;
}

.verticalLine {
    border-left:  solid black;
}
