body{
	background: url(../img/ps_neutral.png) no-repeat center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	color:white;
	position: relative;
}
html, body, #map {
	height: 100%
	margin:0px;
	padding: 0px;
}

.btn-primary {
	color: #fff;
	background-color: #222222;
	border-color: #222222;
}

.container {
	margin-top: -25px;
}

footer {
	font-size: 15px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	color:black;
}

.image {
	box-sizing:border-box;
	border:5px solid white;
	width:200px;
	height:200px;
	margin:20px 0px 20px 70px;
	display:inline-block;
	position:relative;

}
img {
	padding: 10px;
	border-radius: 79px;
    transition: 0.2s;
	width: 198px;
}

.img-responsive {
	display:block;
	max-width:100%;
	height:auto;
}

.main p {
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
	color:white;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #E0E9F5;  /*Sets the text hover color on navbar*/
}

.navbar-inverse .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color:#E0E9F5 ; /*BACKGROUND color for active*/
	background-color: #171708;
}
.navbar li {
	font-family: 'Open Sans Condensed', sans-serif;
}

.navbar a {
	color: green;
}

.primary {
	width: 800px;
	height: 400px;
	margin-left: 300px;
	margin-top: 80px;
}
.primary h1{
	font-size: 45px;
	font-weight: bold;
	color: #0C0500;
}

.primary h2 {
	color:black;
}

.primary li {
	list-style-type: none;
	color:black;
	margin-left: -40px;
}

.primary p{
	color: black;
}

.profile {
	margin-left: 300px;
}


.social-icons {
	margin-left: 360px;
}
.social-icons i {
	color: #282525;
}

td {
	width:500px;
}
.fa-twitter:hover {
	color: #01BAEF;
}

.fa-github:hover {
	color:#0B4F6C;
}

.fa-linkedin:hover {
	color:#04416B;
}

@media (max-width: 500px) {
	body {
		background: url(../img/ps_neutral.png) no-repeat center fixed;
		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		background-size:cover;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 18px;
		color:black;
		position: relative;
		width: 200px;
	}

	.container {
		width: 200px !important;
		margin-right: 400px;
	}


	.primary {
		width: 250px;
		height: 400px;
		float: left;
	}
.profile img {
	margin-left: -230px;
}

#projects {
	width:100px !important;
}

#projects img {
	width: 100px !important;
}

#projects table, td, tr {
	width: 10px !important;
}
	.social-icons {
		margin-left: 133px;
	}

}
